@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
    height: 100%;
    width: 100%
}

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    text-align: center;
    background: linear-gradient(296.91deg, #3f3547 3.73%, #7D81A4 97.68%); 
    background-attachment: fixed;
}

.container {
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    width: 400px;
    border: 1px solid #272a3b;
    border-radius: 10px;
    background-color: #303347;
    box-shadow: 
    1px 1px 1px hsla(286, 24%, 14%,.12),
    3px 3px 3px hsla(286, 24%, 14%,.11), 
    5px 5px 5px hsla(286, 24%, 14%,.1),
    7px 7px 7px hsla(286, 24%, 14%,.09),
    11px 11px 11px hsla(286, 24%, 14%,.08),
    13px 13px 13px hsla(286, 24%, 14%,.07),
    17px 17px 17px hsla(286, 24%, 14%,.06),
    19px 19px 19px hsla(286, 24%, 14%,.05),
    23px 23px 23px hsla(286, 24%, 14%,.04),
    29px 29px 29px hsla(286, 24%, 14%,.03);
}

.display {
    height: 60px;
    width: 85%;
    margin: 0 auto;
    margin-top: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    font-size: 2.6em;
    font-family: 'Roboto Mono', Arial, monospace;
    color: white;
    text-shadow: 0px 0px 4px #ffffff;
    word-wrap: break-word;

}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    gap: 15px;

}

.buttons button {
    border: 1px solid #3d415b;
    color: white;
    background-color: #272a3b;
    box-shadow: 
    1px 1px 1px hsla(286, 24%, 14%,.12),
    3px 3px 3px hsla(286, 24%, 14%,.11), 
    5px 5px 5px hsla(286, 24%, 14%,.1),
    7px 7px 7px hsla(286, 24%, 14%,.09),
    11px 11px 11px hsla(286, 24%, 14%,.08);
    border-radius: 35px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.35s;

}

.buttons button.equal{

    height: 70px;
    width: 155px;

}


.buttons button:active, .buttons .active  {

    background-color: rgb(255, 255, 255);
    color: #272a3b;

}

.buttons button:hover {
    border: 1px solid rgb(255, 255, 255);
}
