* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    background-color: #484D6D;
}

.container {
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    width: 400px;
    border: 0;
    border-radius: 25px;
    background-color: #303347;
}

.display {
    border: 0;
    border-radius: 5px;
    background-color: rgb(224, 224, 224);
    height: 50px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 27px;

}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    gap: 15px;

}

.buttons button {
    border: 0;
    border-radius: 35px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.buttons button:active {

    background-color: rgb(255, 255, 255);

}

.operator:active {

    color:red;

}


.buttons .active {

    color: fuchsia;
}

