* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.container {
    width: 450px;
}

.display {
    border: 1px black solid;
    height: 50px;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: right;

}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    gap: 10px;

}

.buttons button {
    border: 1px black solid;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.buttons button:active {

    background-color: rgb(255, 255, 255);

}

.operator:active {

    color:red;

}


.buttons .active {

    color: fuchsia;
}

